@page "/Index"
@inject IStudentsService studentservice;

@using Client.Services.Abstraction;
@using Syncfusion.Blazor.Grids
@using Dtos;
@inject Blazored.LocalStorage.ILocalStorageService localStore


@if (_Students == null)
{
    <p><em>Loading...</em></p>
}
else
{
   <StudentsList Students="_Students"></StudentsList>
}



@code {
    const string noteKey = "token";

    private IEnumerable<ReadStudentDto> _Students;

    protected override async Task OnInitializedAsync()
    {
        var Content = await localStore.GetItemAsync<string>(noteKey);

        _Students = await studentservice.GetAllStudent(Content);

    }



}
